@media (min-width: 961px) {
    .preview {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 2.4% 0 6% 0;
        background-image: url("../img/football_1920.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .preview::after {
        content: "";
        position: absolute;
        background-color: #1f1e3d;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.9;
    }

    .preview-logo {
        padding: 0;
        margin: 0 auto;
        box-sizing: border-box;
        width: 10%;
    }

    .preview-logo-img {
        fill: white;
        padding: 0;
        margin: 0;
    }

    .title {
        margin: 16% 0 0 10%;
        color: #ffffff;
        text-transform: uppercase;
        font-family: "Open Sans Bold";
        font-size: 4.69vw;
    }

    .title-first-line {
        margin: 0;
    }

    .title-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 0 22%;
    }

    .title-container {
        display: block;
    }

    .title-second-line {
        margin: 0;
        padding: 0;
    }

    .title-third-line {
        margin: 0 0 0 2.2vw;
        padding: 0;
    }

    .app {
        display: flex;
        justify-content: center;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
        margin: 12% 0 0 0;
    }

    .link-store {
        width: 16%;
        min-width: 16.15vw;
        margin-right: 2%;
        margin-left: 2%;

    }

    .app_store {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-family: "Open Sans";
        font-size: 0.72vw;
        color: #ffffff;
        background-color: #5e42b0;
        height: 5.5em;
        border-radius: 6.25rem;
    }

    .google_play {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-family: "Open Sans";
        font-size: 0.72vw;
        color: #ffffff;
        background-color: #5e42b0;
        height: 5.4em;
        border-radius: 100px;
    }

    .button-app_store_text {
        text-align: left;
        box-sizing: border-box;
        width: 10em;
        margin: 0 0 0 2em;
        padding: 0;
    }

    .button-google_play_text {
        text-align: left;
        box-sizing: border-box;
        width: 8em;
        margin: 0 0 0 2em;
        padding: 0;
    }

    .page {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0;
    }

    .card-header {
        background-color: #ffffff;
        padding: 0;
        margin: 6% 0 0 52.5%;
    }

    .article-header {
        font-family: "Open Sans Bold";
        font-size: 4.2vw;
        color: #e7e7e7;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }

    .athlets-img {
        position: absolute;
        width: 65%;
        left: 20%;
        top: 1.4%;
        width: 31vw;
    }

    .article-connection {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        margin: 0;
        padding: 0 4.3% 0 52.5%;
    }

    .post-header {
        display: flex;
        margin: 7% 0 0 0;
        padding: 0;
        font-family: "Open Sans Bold";
        font-size: 1.875vw;
        text-transform: uppercase;
        color: #c1c1c1;
    }

    .post-number {
        font-family: "Open Sans Bold";
        font-size: 1vw;
        color: #000000;
        margin-right: 0.8em;
        align-self: center;
    }

    .post-number:after {
        display:block;
        content:'';
        width: 100%;
        height: 4px;
        background: #5e42b0;
        margin: 0;
    }

    .post-content {
        font-family: "Open Sans";
        font-size: 1.1vw;
        color: #000000;
        margin: 6% 0 8% 0;
    }

    .article-collaboration {
        display: flex;
        flex-direction: column;
        background-color: #f5f4f9;
        margin: 0;
        padding: 0 4.3% 0 52.5%;
    }

    .article-growth {
        display: flex;
        flex-direction: column;
        background-color: #5e42b0;
        margin: 0;
        padding: 0 4.3% 0 52.5%;
    }

    .post-number-growth:after {
        display:block;
        content:'';
        width: 100%;
        height: 4px;
        background: #ffffff;
        margin: 0;
    }

    .post-content-growth {
        color: #ffffff;
    }

    .players-header {
        margin: 6.25% 0 0 10%;
    }

    .players-img {
        position: absolute;
        top: 8%;
        right: 6.5%;
        width: 52vw;
    }

    .article-connection-players {
        padding: 0 48% 0 10%;
    }

    .article-collaboration-players {
        background-color: #f5f4f9;
        padding: 0 48% 0 10%;
    }

    .article-growth-players {
        display: flex;
        flex-direction: column;
        padding: 0 48% 0 10%;
        background-color: #090c35;
    }

    .post-number-players {
        font-family: "Open Sans Bold";
        font-size: 1vw;
        color: #8765dd;
        margin-right: 0.8em;
        align-self: center;
    }

    .post-number-players:after {
        display:block;
        content:'';
        width: 100%;
        height: 4px;
        background: #ffffff;
        margin: 0;
    }

    .post-content-players {
        font-family: "Open Sans";
        font-size: 1.1vw;
        color: #ffffff;
        margin: 6% 0 8% 0;
    }

    .card-advices {
        display: flex;
        flex-direction: column;
    }

    .post-advice {
        display: flex;
    }

    .advice, active {
        position: relative;
        width: 50%;
        padding: 0;
        margin: 0;
        font-size: 0;
    }

    .advice-img {
        width: 100%;
        font-size: 0;
    }

    .frame-number {
        display: flex;
        position: absolute;
        z-index: 2;
        width: 8vw;
        height: 8vw;
        top: 30%;
        left: calc(100% - 8vw/2);
        background-color: #5e42b0;
    }

    .frame-number-contact {
        display: flex;
        position: absolute;
        z-index: 2;
        width: 8vw;
        height: 8vw;
        top: 30%;
        right: calc(100% - 8vw/2);
        background-color: #5e42b0;
    }

    .advice-content {
        box-sizing: border-box;
        width: 50%;
        margin: 13% 0 0 0;
        padding-left: 7%;
    }

    .contact {
        order: 1;
    }

    .contact-content {
        padding-left: 10%;
        order: 0;
    }

    .work {
        order: 2;
    }

    .work-content {
        width: 50%;
        order: 3;
    }

    .advice-number {
        margin: auto;
        font-family: "Open Sans Bold";
        font-size: 1.25vw;
        color: #f5f6f7;
    }

    .advice-number:after {
        display:block;
        content:'';
        width: 100%;
        height: 4px;
        background: #8f7bc8;
        margin: 0;
    }

    .advice-header {
        font-family: "Open Sans Bold";
        font-size: 4.2vw;
        color: #e7e7e7;
        text-transform: uppercase;
        margin: 0;
        /*margin: 10% 0 0 6.25%;*/
        padding: 0;
    }

    .post-content-advice {
        font-family: "Open Sans";
        font-size: 1.25vw;
        color: #000000;
        margin: 14% 26% 0 0;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 12% 0 3% 0;
        background-image: url("../img/game_1920.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
    }

    .footer:after {
        content: "";
        position: absolute;
        background-color: #1f1e3d;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.9;
    }

    .footer-title-container {
        display: flex;
        align-items: center;
    }

    .footer-button {
        display: flex;
        /*justify-content: center; не понял почему не требуется*!*/
        align-items: center;
        position: relative;
        z-index: 1;
        width: 7.3vw;
        height: 7.3vw;
        padding: 0;
        background: linear-gradient(#7755d7, #50379a);
        border-radius: 30%;
    }

    .footer-title-content {
        margin-left: 5%;
        box-sizing: border-box;
    }

    .button {
        display: block;
        fill: #ffffff;
        width: 77.77%;
        position: relative;
        z-index: 1;
        margin: auto;
    }

    .footer-title {
        margin: 0 auto 0 auto;
        color: #ffffff;
        text-transform: uppercase;
        font-family: "Open Sans Bold";
        font-size: 4vw;
        position: relative;
        z-index: 1;
        line-height: 1em;
    }

    .footer-text {
        font-family: "Open Sans";
        font-size: 1.5625vw;
        text-transform: uppercase;
        color: #9b8ec1;
        position: relative;
        z-index: 1;
        margin: 0;
        line-height: 1em;
    }

    .footer-app {
        display: flex;
        justify-content: center;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
        margin: 8% 0 0 0;
    }

    .footer-logo {
        margin-top: 14%;
    }
}