@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Bold";
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
}

.preview-logo-img {
    fill: white;
}

.title {
    margin: 107px 0 0 20px;
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans Bold";
    font-size: 1.75rem;
}

.preview, .preview-logo, .app_store, .google_play, .title, .preview-logo-img {
    position: relative;
    z-index: 1;
}

.button-svg {
    fill: white;
    height: 22px;
    margin: 0 0 0 82px;
    padding: 0;
}

a {
    text-decoration: none;
}

span {
    font-family: "Open Sans Bold";
}

@media (max-width: 640px) {
    .preview {
        margin: 0; /*margin-top скрывает часть изображения background-image*/
        padding: 33px 0 0 0; /*поэтому прмиенил padding*/
        background-image: url(../img/football_767.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .preview::after {
        content: "";
        position: absolute;
        background-color: #1f1e3d;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.9; /*надеюсь правльно определил значение*/
    }

    .preview-logo {
        padding: 0;
        margin-right: auto;
        margin-left: auto;
        width: 133px;
    }

    .title-first-line {
        margin: 0;
        padding: 0;
    }

    .title-second-line {
        margin: 31px 0 0 44px;
        padding: 0;
    }

    .app_store {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-family: "Open Sans";
        font-size: 0.5rem;
        color: #ffffff;
        background-color: #5e42b0;
        padding: 0;
        width: 280px;
        height: 35px;
        border-radius: 50px;
        border: none;
        margin-top: 90px;
        margin-right: auto;
        margin-left: auto;
        padding: 0;

    }

    .google_play {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-family: "Open Sans";
        font-size: 0.5rem;
        color: #ffffff;
        background-color: #5e42b0;
        width: 280px;
        height: 35px;
        border-radius: 50px;
        border: none;
        margin-top: 19px;
        margin-left: auto;
        margin-bottom: 84px; /* опять margin скрывает часть изображения background-image, выдаёт белый фон, не понимаю плчему*/
        margin-right: auto;
        padding: 0;
    }

    .button-app_store_text {
        text-align: left;
        width: 83px;
        margin: 0 0 0 9px;
        padding: 0;
    }

    .button-google_play_text {
        text-align: left;
        width: 56px;
        margin: 0 0 0 9px;
        padding: 0;
    }


    
}

@media (min-width: 641px) and (max-width: 960px) {
    
}

@media (max-width: 961px) and (max-width: 1290px) {
    
}

@media (min-width: 1291px) {
    
}